.well {
  width: 300px;
  background-color: #dddddd;
  min-height: 700px;
}

#menu {
  padding-left: 150px;
}

.navbar-header {
  padding-left: 20px !important;
}

.blue-button {
  background-color: #1a242f !important;
  border-color: #1a242f !important;
}

.shiny-notification {
  position: fixed; 
  top: 50%; 
  left: 50%
}